.donate-container {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.person-donate img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
}

.donate-container [class^='col-'], [class*=' col-'] {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.donate-container .img-fluid {
    max-width: 100%;
    height: auto;
}

.donate-container img {
    vertical-align: middle;
    border-style: none;
}

.person-donate h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.person-donate .time {
    color: #b3b3b3;
    font-size: 13px;
}

.person-donate .donate-amount .label {
    background: #f2f2f2;
  }

  .person-donate .donate-amount > div {
    width: 50%;
    padding: 10px;
  }

  .person-donate .donate-amount .amount {
    background: #68b6bfc2;
    color: #fff;
  }