.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-logo {
  max-width: 170px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0px;
}

.nav-links li {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links li:nth-child(1) a {
  width: 150px;
  padding-right: 5px;
  text-align: right;
}

.nav-links li:nth-child(3) {
  width: 150px;
  padding-left: 5px;
  text-align: center;
}

.nav-links li a {
  color: #000;
}
