.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.nav-logo {
  max-width: 170px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 60px 20px;
}

.nav-links li {
  padding: 0 20px;
  font-size: 20px;
}

.nav-links li a {
  color: #000;
}
