@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

.home {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("/public/images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  height: 100vh;
  padding-top: 30vh;
}

.home-img {
  width: 100%;

  text-align: center;
}

.home-img_heading {
  color: #ffff;
  padding-top: 50px;
  font-size: 70px;
  font-weight: 700;
}

.home-img p {
  color: white;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

hr:not([size]) {
  height: 4 px;
}

.underline {
  max-width: 150px;
  height: 5px;
  margin: auto;
  color: #fff;
  opacity: 0.9;
  margin-top: 20px;
}

.home-btns {
  text-align: center;
  margin-top: 40px;
}

.home-btn {
  margin: 0 30px;
  padding: 10px 30px;
  border: 0;
  color: #ffffff;
  background: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 70px;
  border-radius: 1px;
}

.home-btn-1 {
  background-color: #d78322;
  color: #fff;
}

.home-btn-1:hover {
  background-color: #cc4e1d;
}
